.container {
  margin: 150px auto;
  max-width: 1200px;
  /* display: flex;
  flex-direction: column; */
}
.a-building-container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}
.a-building-name {
  margin-bottom: 25px;
}
li {
  width: 200px;
  padding: 3px 0 3px;
  border: 1px solid white;
}

ul {
  column-count: 6;
  column-gap: 20px;
  width: 100%;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #115fd6;
}

hr:last-of-type {
  display: none;
}
